
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<ul>
    <li>
        Bsc
        <ul>
            <li>AIUB</li>
        </ul>
    </li>
    <li>
        HSC
        <ul>
            <li>CCJ</li>
        </ul>
    </li>
    <li>
        SSC
        <ul>
            <li>MPHC</li>
        </ul>
    </li>
</ul>

