
@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>
<table border="1" class="">
    <tr>
        <td>Name</td>
        <td>Manik Saha</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>Manik Saha</td>
    </tr>
    <tr>
        <td>Height</td>
        <td>Manik Saha</td>
    </tr>
    <tr>
        <td>Weight</td>
        <td>Manik Saha</td>

    <tr>
        <td>Picture</td>
        <td>Manik Saha</td>
    </tr>
</table>

