@model dynamic
@{
    //ViewBag.Title = "Add";
}

<h2>Add Student</h2>
<div>
    <form action="/Student/Add" class="center-block" method="post">
        <input class="form-control" type="text" name="Student.Name" value="" placeholder="Name" />

        <input class="form-control" type="date" name="Student.DOB" value="" />

        <input class="form-control" type="text" name="Student.Credit" value="" placeholder="Credit" />

        <input class="form-control" type="text" name="Student.CGPA" value="" placeholder="CGPA" />

    <select class="form-control" name="Student.Dept_ID" id="Student.Dept_ID">
        <option value="" selected disabled>Please, select your Department Here</option>
        @foreach (var d in @Model.Department)
        {
            <option value="@d.Dept_ID">@d.Dept_Name</option>
        }
    </select>

        <input class="btn btn-success" type="submit" name="submit" value="Add student" />
    </form>
</div>