@{
    ViewBag.Title = "Home Page";
}

<center>
    <div class="d-flex justify-control-center">
        <h1>Login</h1>
        <input class="form-control" type="text" name="username" value="" placeholder="user-name" />
        <input class="form-control" type="text" name="password" value="" placeholder="password" />
        <span class="text-warning">Login first</span>
        <input type="submit" class=" btn-block" name="login" />
    </div>
</center>