@{
    ViewBag.Title = "Home Page";
}

<h1>Admin Home page</h1>
<li><a class="btn btn-success" href="/Student/All">All Student</a></li><br />
<li><a class="btn btn-success" href="/Student/Add">Add Student</a></li>
